<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/robot.jpg" />
    <link rel="stylesheet" href="./styles/drop-buttons.css" />
    <link rel="stylesheet" href="./styles/output.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>M.O.S.A</title>
  </head>
  <body>
    <!-- <div class="blur-3xl h-screen bg-cover bg-no-repeat bg-center"></div> -->
    <div
      class="min-h-screen min-w-min flex flex-col bg-slate-200 6xl:bg-[#000000] bg-opacity-40 transition-all duration-300 z-10"
    >
      <header
        class="transition-all flex justify-between bg-transparent shadow-lg p-3"
      >
        <h1 class="text-3xl">Dashboard</h1>
        <div class="flex flex-row items-center gap-3">
          <h3>Velkommen tilbake <%=username%>!</h3>
          <a href="/user/logut"
            ><span class="material-symbols-outlined"> logout </span></a
          >
        </div>
      </header>
      <main class="flex-1 my-10 mx-5 lg:mx-10">
        <h2 class="mb-10 text-center text-xl">Velg destinasjon</h2>
        <div class="grid lg:grid-cols-2 gap-5">
          <div class="relative" id="topdown">
            <img
              class="w-full h-full"
              src="./images/layout_website.png"
              alt="layout"
            />

            <div
              class="w-full flex rounded-md justify-between items-end absolute top-0 h-full pb-2"
            >
              <button class="drop-button" id="drop-sted1" title="1">
                Drop 1
              </button>
              <button class="drop-button" id="drop-sted2" title="2">
                Drop 2
              </button>
              <button class="drop-button" id="drop-sted3" title="3">
                Drop 3
              </button>
              <button class="drop-button" id="drop-sted4" title="4">
                Drop 4
              </button>
            </div>
          </div>
          <div class="send-wrapper flex flex-col">
            <div class="flex justify-center gap-2 z-10">
              <select
                name="drop-sted"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                id="drop-sted"
                title="Velg dropsted"
              >
                <option selected>Velg dropsted</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <select
                class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                name="komponent"
                id="komponent"
                title="Velg komponent"
              >
                <option selected>Velg komponent</option>
              </select>
              <input
                class="w-16 md:w-auto bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
                name="antall"
                id="antall"
                type="number"
                placeholder="Velg antall..."
                title="Velg antall"
                min="1"
              />
              <button
                class="transition-all duration-300 bg-blue-400 flex-1 hover:bg-blue-500 rounded-lg p-2 text-white font-bold shadow-lg"
                id="legg-mer-button"
                title="Legg til i bestillingen"
              >
                <span>+</span>
              </button>
            </div>
            <table
              class="mt-5 w-full text-lg min-w-full border text-center font-light border-collapse"
              id="liste"
            >
              <thead class="text-gray-300 uppercase bg-neutral-800">
                <tr>
                  <th>Komponent</th>
                  <th>Antall</th>
                </tr>
              </thead>
              <tbody class="bg-slate-300"></tbody>
            </table>
            <div class="flex justify-center">
              <button
                type="submit"
                class="transition-all duration-300 bg-green-400 mt-10 p-2 w-2/5 rounded-lg text-white hover:bg-green-500 font-bold py-2 px-4 shadow-lg"
                id="bestill-button"
              >
                Bestill
              </button>
            </div>
          </div>
        </div>
      </main>
      <footer
        class="bg-blue-50 p-5 flex justify-center gap-3 items-center shadow-md"
      >
        <p>&copy; 2023 M.O.S.A.</p>
        <span>|</span>
        <a href="https://github.com/Mosazghi/m.o.s.a" target="_blank">
          <img
            class="inline"
            src="./images/github-logo.png"
            alt="github"
            width="20"
            height="20"
        /></a>
      </footer>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
