<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.O.S.A</title>
</head>
<body>
    <form action="/komponent/api/ny" method="post">
        <input type="text" placeholder="navn" id="navn" name="navn">
        <input
        class="number"
        name="antall"
        id="antall"
        type="number"
        placeholder="Velg antall..."
        title="Velg antall"
        min="1"
        />
        <input type="submit">
    </form>
</body>
</html>