<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/robot.jpg" />
    <link rel="stylesheet" href="./styles/output.css" />
    <title>M.O.S.A | Registrer</title>
  </head>
  <body>
    <div
      class="blur-lg h-screen bg-cover bg-no-repeat bg-center"
      style="background-image: url('/images/car.gif')"
    ></div>
    <div
      class="bg-[#000000] bg-opacity-40 font-bold absolute transition-all duration-300 top-1/2 border-2 border-solid border-white left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 w-full sm:w-4/6 p-5"
    >
      <h1 class="text-6xl text-blue-300 text-center">REGISTRER</h1>
      <div class="p-5 flex justify-center">
        <form class="flex flex-col gap-3" action="/user/register" method="post">
          <div class="w-full">
            <label class="text-white" for="email">Email:</label>
            <br />
            <input
              type="text"
              class="w-full text-black"
              id="email"
              name="email"
            />
          </div>
          <div class="w-full">
            <label class="text-white" for="brukernavn">Brukernavn:</label>
            <br />
            <input
              type="text"
              class="w-full text-black"
              id="brukernavn"
              name="username"
            />
          </div>
          <div class="w-full">
            <label class="text-white" for="passord">Passord:</label>
            <br />
            <input
              type="text"
              class="w-full text-black"
              id="passord"
              name="password"
            />
          </div>
          <button
            class="text-white mt-3 p-2 bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-lg shadow-lg"
            type="submit"
            id="newBtn"
            type="submit"
          >
            Registrer
          </button>
        </form>
      </div>
      <h3 class="text-blue-200 text-center hover:underline hover:text-blue-300">
        <a href="/">Bruker allerde? -></a>
      </h3>
    </div>
  </body>
</html>
